@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
}
#header-section {
  margin: 0 auto;
  position: relative;
  width: 1440px;
  height: 652px;
  left: 0;
  right: 0;
  /* top: 131px; */
  /* bottom: 4462px; */
}
.hero-background {
  position: absolute;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-image {
  margin-top: 27px;
}
.hero-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  order: 0;
  margin: 32px 0px;
}
.hero-item h1 {
  font-size: 45px;
  font-weight: 800;
}
.hero-item p {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 53px;
  margin-bottom: -1px;
}
.hero-bttn {
  /* border: 2px solid red; */
  width: 244px;
  height: 65px;
  background-color: rgb(13, 19, 33);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
}
.hero-bttn a {

  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  color: white;
  text-align: center;

  background-size: cover;
  border-radius: 8px;
  text-decoration: none;
}

/* -- Header-section finished. -- */

/* -- Main section start -- */

#main-section {
  /* border: 2px solid red; */
  position: relative;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  width: 1140px;
  height: 1393px;
  top: 80px;
  padding: 80px 97px 80px 97px;
  margin-bottom: 170px;
}
.main-div {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.heading-div {
  width: 852px;
  height: 113px;
  margin: 0 48px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 48px;
}
.heading-div h1 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 0%;
}
.heading-div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.first-content-div {
  /* border: 2px solid red; */
  width: 946px;
  height: 336px;
  margin: 0 auto;
  padding: 48px;
  border-radius: 16px;
  margin-bottom: 32px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(13, 19, 33, 0)
  );
}
.sub-first-content {
  /* border: 2px solid red; */
  width: 850px;
  height: 240px;
  display: flex;
}
.sub-sixty {
  /* border: 2px solid red; */
  width: 60%;
}
.sub-forty {
  /* border: 2px solid red; */
  margin-left: 150px;
  width: 40%;
}
.sub-sixty h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0;
}
.sub-sixty p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  /* opacity: 0.7; */
}

.btn {
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
}
.second-content-div {
  /* border: 2px solid red; */
  display: flex;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(13, 19, 33, 0));
  width: 946px;
  height: 336px;
  margin: 0 auto;
  padding: 48px;
  border-radius: 16px;
  margin-bottom: 32px;
}
.sub-second-content {
  /* border: 2px solid red; */
  width: 850px;
  height: 240px;
  display: flex;
}
.sub-forty-sec {
  /* border: 2px solid red; */
  width: 40%;
}
.sub-sixty-sec {
  width: 60%;
  margin-left: -60px;

  /* border: 2px solid red; */
}
.sub-sixty-sec h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0;
}
.sub-sixty-sec p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  /* opacity: 0.7; */
}
/* Second-layer-complete */

#second-section {
  /* border: 2px solid red; */
  position: relative;
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.second-heading {
  width: 852px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.second-heading h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.second-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.iframe-div {
  position: relative;
  box-sizing: border-box;
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
  background-size: cover;
  /* border: 2px solid green; */
  margin: 32px 32px 32px 32px;
}
#third-section {
  /* border: 2px solid red; */
  position: relative;
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.third-heading h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.third-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.card-div {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 1140px;
  height: 299px;
}
.card-div .card-first-bg {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  width: 364px;
  height: 299px;
  padding: 40px 40px 40px 40px;
}
.card img {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}
.card h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}
.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.card a {
  font-size: 16px;
  color: rgb(13, 19, 33);
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.card-div .card-second-bg {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  width: 364px;
  height: 299px;
  padding: 40px 40px 40px 40px;
}
.card-div .card-third-bg {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  width: 364px;
  height: 299px;
  padding: 40px 40px 40px 40px;
}
#forth-section {
  border: 2px solid red;
  position: relative;
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  /* margin-bottom: 150px; */
}
